<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This will be a simple goals-tracking app, with a self-tracking microfeed.
</p>
<p>
  This app is extended from the original sample application for the 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl, for which the 
  <a href=<%= license_url %>>license information</a> 
  has been included. 
</p>