<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  There is no formal contact yet for this application, but if you are feeling
  lucky or adventurous you could attempt sending a message to 
  'goals.tracker [at] intuedge.net'.
</p>
