<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This goals-tracking application has no specific help yet, but if you are 
  feeling lucky or adventurous you could attempt sending a message to   
  'goals.tracker [at] intuedge.net'.
</p>
